<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<link rel="stylesheet" type="text/css" href="/public/css/inventory.css">

	</head>

	<body>

		<table class="inventory">
			<thead>
				<tr>
					<th rowspan="2">No. Urut</th>		
					<th rowspan="2">Kode Barang</th>		
					<th rowspan="2">Nama Barang / Jenis Barang</th>		
					<th rowspan="2">Nomor Register</th>		
					<th rowspan="2">Merek / Type</th>		
					<th rowspan="2">Ukuran / CC</th>		
					<th rowspan="2">Bahan</th>		
					<th rowspan="2">Tahun Catat/Beli</th>		
					<th colspan="5">Nomor</th>		
					<th rowspan="2">Asal-Usul</th>		
					<th rowspan="2">Masa Manfaat</th>		
					<th rowspan="2">Sisa Umur</th>		
					<th rowspan="2">Nilai Perolehan</th>		
					<th rowspan="2">Jumlah Penyusutan</th>		
					<th rowspan="2">Nilai Buku</th>		
					<th rowspan="2">%</th>		
					<th rowspan="2">Kondisi Barang</th>		
					<th rowspan="2">Keterangan</th>		
				</tr>

				<tr>
					<th> Pabrik </th>
					<th> Rangka </th>
					<th> Mesin </th>
					<th> Polisi </th>
					<th> BPKB </th>
				</tr>

				<tr>
					<th> 1 </th>
					<th> 2 </th>
					<th> 3 </th>
					<th> 4 </th>
					<th> 5 </th>
					<th> 6 </th>
					<th> 7 </th>
					<th> 8 </th>
					<th> 9 </th>
					<th> 10 </th>
					<th> 11 </th>
					<th> 12 </th>
					<th> 13 </th>
					<th> 14 </th>
					<th> 15 </th>
					<th> 16 </th>
					<th> 17 </th>
					<th> 18 </th>
					<th> 19 </th>
					<th> 20 </th>
					<th>  </th>
					<th> 21 </th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</body>
</html>